.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color:white;
    text-decoration:solid;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(28, 184, 196);
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  .tuvieja{
    background-color: rgb(86, 160, 160);
  }
  .titulo{
    font-style: initial;
    font-feature-settings: "blwm";
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: semi-expanded;
    
  }
  .subtitulo{
    font-size: larger;
    font-family: cursive;
  }
 .piedepagina{
    font-size: small;
    justify-content: end;
    align-content: space-between;
 }
  .images1{
    padding: 90px; margin: 150px;
    background-color: fuchsia;
 }
  .images2{
    padding: 90px; margin: 150px;
    background-color: rgb(203, 23, 23);
    background-image: url("media/ramona1.jpg");
  }
  .images3{
    padding: 90px; margin: 150px;
    background-color: aqua;
  }
  .images4{
    padding: 90px; margin: 150px;
    background-color: rgb(41, 16, 202);
  }
  .listacontacto{
    list-style-type: none;
  }
  .navbar{
    background-color: rgb(81, 154, 103);
  }
  .bodygaleria{
    background-color: #04AA6D;
  }
  .bodyindex{
    background-color: rgb(43, 192, 123);
  }
    .bodycontacto{
    
        background-color: rgb(42, 53, 209);
    }
        .bodysobrenosotros{
            background-color: rgb(43, 192, 123);
        }
        .bodytienda{
            background-color: rgb(43, 192, 123);
        }
        .piedepagina{
            justify-content: end;
            align-content: stretch;
        }
     .divdivisor{
        height: 600px;
     }
     .titulos{
        background-color: #04AA6D;
        width: auto;
        height: 100px;
        padding: auto;
        margin: 0
        
     }
     .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        row-gap: 1px;
        column-gap: 1px;
        border-color: black;
        }
        
        .divaaa { grid-area: 1 / 1 / 6 / 6; }
        .parent {
            background-color: black;
        }
      

body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: rgb(112, 78, 78);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: rgb(186, 132, 132);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgb(48, 208, 128);
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: rgb(95, 90, 90);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.bzrp{
  background-color: rgb(43, 192, 123);
  margin: auto;
  padding: 5px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 6; }
  .div2 { grid-area: 2 / 5 / 3 / 6; }
  .div3 { grid-area: 2 / 4 / 3 / 5; }
  .div4 { grid-area: 2 / 3 / 3 / 4; }
  .div5 { grid-area: 2 / 2 / 3 / 3; }
  .div6 { grid-area: 2 / 1 / 3 / 2; }
  .div7 { grid-area: 3 / 1 / 4 / 2; }
  .div8 { grid-area: 3 / 2 / 4 / 3; }
  .div9 { grid-area: 3 / 3 / 4 / 4; }
  .div10 { grid-area: 3 / 4 / 4 / 5; }
  .div11 { grid-area: 3 / 5 / 4 / 6; }
  .div12 { grid-area: 4 / 5 / 5 / 6; }
  .div13 { grid-area: 4 / 4 / 5 / 5; }
  .div14 { grid-area: 4 / 3 / 5 / 4; }
  .div15 { grid-area: 4 / 2 / 5 / 3; }
  .div16 { grid-area: 4 / 1 / 5 / 2; }
  .div17 { grid-area: 5 / 1 / 6 / 2; }
  .div18 { grid-area: 5 / 2 / 6 / 3; }
  .div19 { grid-area: 5 / 3 / 6 / 4; }
  .div20 { grid-area: 5 / 4 / 6 / 5; }
  .div21 { grid-area: 5 / 5 / 6 / 6; }
.ig{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  font-style: none;
  
}
.divindex{
  height: 400px;
  width: 400px;
}

.galeria{
  width: auto;
  height: auto;
}
.botonig{
  background-color: #c3db0d;
  border-radius: 3px;
  align-content: center;
}
.botonfb{
  background-color: #c3db0d;
  border-radius: 3px;
}
.fb{
  font-display: none;
}
.listadecontacto{
  display: inline-block;
  align-items: center;
  align-content: center;
}
.listacontacto{
  display: inline-block;
  align-items: center;
  align-content: center;
}
.headersobrenosotros{
  background-color: #04AA6D;
}
.sobrenosotros{
  background-color: #04AA6D;
}
.piedepagina{
  padding: 10px;
}
a.my-button{
  background: linear-gradient(to right,#196BCA ,#6433E0);
  background-color: #196BCA;
  color: #db1212;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
 }
 a.my-button:hover{
  background: linear-gradient(to right,#1866c0 ,#5f30d5);
  background-color: #1866c0;
 }
 a.my-button:active{
  transform: scale(0.95);
 }
 a.my-button{
  background: linear-gradient(to right,#ca9419 ,#a033e0);
  background-color: #ca9419;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
 }
 a.my-button:hover{
  background: linear-gradient(to right,#c08c18 ,#9830d5);
  background-color: #c08c18;
 }
 a.my-button:active{
  transform: scale(0.95);
 }
 a.my-button{
  background: linear-gradient(to right,#31ca19 ,#31ca19);
  background-color: #31ca19;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
 }
 a.my-button:hover{
  background: linear-gradient(to right,#2ec018 ,#2ec018);
  background-color: #2ec018;
 }
 a.my-button:active{
  transform: scale(0.95);
 }
 .contactos{
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  display: flex;
 }
 .my-button{
  margin: 3px;
 }
 .botonremeras{
  background-color: #e7c633;
 }
 .botonaccesorios{
  background-color: #e7c633;
 }
 .botonhoodies{
  background-color: #e7c633;
 }
 .botonzapatos{
  background-color: #e7c633;
 }
 .botoncamperas{
  background-color: #e7c633;
 }
 .botonpantalon{
  background-color: #e7c633;
 }
 .botontienda{
  background-color: bisque;
border: #c08c18; 
border-bottom: #c08c18;
border-style: solid;
border-radius: 10px;
}
.botontienda{
  background-color: #E9FF33;
}
.divbb{
  height: 200px;
}
.bodytienda{
  overflow-x: hidden;

}